

$containerWidth: 1200;
$containerPadding: 40;

$breakpoint1450: 1450 + px;
$breakpoint992: 992 + px;
$breakpoint767: 767 + px;
$breakpoint480: 480 + px;

$blue:#051655;
$red: #EB3D35;
$redHover: #ce362e;
$white: white;
$lightBlue: #F3F6F9;
$lightGray: #E5E4E1;
$gray: #747887;